<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Database Connection Settings -->
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost/hotel</property> -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!-- 		<property name="hibernate.connection.username">root</property> -->
<!-- 		<property name="hibernate.connection.password">1234</property> -->
		<property name="hibernate.archive.autodetection">class</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping With Model Class Containing Annotations -->
		<mapping class="com.hotel.entity.RoomTypes"/>
		<mapping class="com.hotel.entity.Rooms"/>
		<mapping class="com.hotel.entity.Users"/>
		<mapping class="com.hotel.entity.UserInformation"/>
		<mapping class="com.hotel.entity.Roles"/>
		<mapping class="com.hotel.entity.Booking"/>
	</session-factory>
</hibernate-configuration>