<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
<link rel='stylesheet' type="text/css" media="all"
	href="resources/static/stylesheets/WelcomeStyle.css"
	th:href="@{/stylesheets/WelcomeStyle.css}" />
<title>Booking</title>
</head>
<body>
	<!-- <div th:replace="fragments/welcomeBackInclude :: welcomeBackUser"></div>-->

	<div class="container-fluid" id="welcomeDiv">
		<h1 class="text-center">Hotel Tristar</h1>
	</div>
	<div class='container' id="navbarDiv">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">*** Tristar ***</a>
				</div>
				<div id="navMenu">
					<form>
						<ul class="nav navbar-nav col-sm-6 text-center">
							<li><a href="welcome">Home</a></li>
							<li class="active"><a href="booking">Booking</a></li>
							<li><a href="gallery">Gallery</a></li>
							<li><a href="contact">Contact</a></li>
							<!-- <li><a th:replace="fragments/logoutInclude :: logout"></a></li>-->
						</ul>
					</form>
				</div>
			</div>
		</nav>
	</div>
	<div id="wrapper">
		<sec:authorize access="hasRole('ROLE_USER')">
			<h1 id="bookingTitle" class="text-center">Booking</h1>

			<div id="bookingDiv">
				<h5 id="bookingMessage" class="text-center">Please select all
					the information to help us get the best choices for your stay</h5>
				<form id="bookingForm" class="form-inline" action="booking"
					method="post">
					<div class="form-group">
						<label for="checkInCalendar"
							class="control-label col-sm-offset-1 col-sm-3">Check-in</label> <label
							for="checkOutCalendar"
							class="control-label col-sm-offset-3 col-sm-4">Check-out</label>

						<div class="col-sm-offset-1 col-sm-2">
							<input type="date" id="checkIn" />
						</div>
						<div class="col-sm-offset-4 col-sm-2">
							<input type="date" id="checkOut" />
						</div>
					</div>
					<br></br> <br></br>
					<div class="form-group">
						<label for="peopleCombobox"
							class="control-label col-sm-1 col-sm-offset-3">People</label>
						<div class="col-sm-1 col-sm-offset-2">
							<select id="selectPeople">
								<option value="1"></option>
								<option value="2"></option>
								<option value="3"></option>
								<option value="4"></option>
								<option value="5"></option>
							</select>
						</div>
					</div>
					<br></br> <br></br>
					<div class="form-group">
						<label for="roomCombobox"
							class="control-label col-sm-1 col-sm-offset-3">Rooms</label>
						<div class="col-sm-1 col-sm-offset-2">
							<select id="selectRooms">
								<option value="1"></option>
								<option value="2"></option>
								<option value="3"></option>
								<option value="4"></option>
								<option value="5"></option>
							</select>
						</div>
					</div>
					<br></br> <br></br>
					<div class="text-center">
						<input type="submit" value="Book" />
					</div>
				</form>
			</div>
		</sec:authorize>
	</div>
</body>
</html>